@import "@material/button/mdc-button";

.ad-dialog {
  text-align: center;
}

.ad-dialog .mdc-dialog__surface {
  border-radius: 10px;
  width: 560px;
  min-height: 420px;
}

.ad-dialog .mdc-dialog__content {
  border-radius: 10px;
}

.ad-dialog__subtitle {
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #556172;
  margin-bottom: 12px;
}

.ad-dialog__title {
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #0c2e60;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: 35px;
}

.ad-dialog__content {
  text-align: initial;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #888;
}

.ad-dialog .mdc-dialog__content {
  background-image: url(/app/img/ad_wave.png);
  background-repeat: no-repeat;
  background-size: 112%;
  background-position: top right;
}

.ad-dialog .mdc-dialog__surface {
  background-image: url(/app/img/ad_circle.png);
  background-repeat: no-repeat;
  background-size: 52%;
  background-position: bottom left;
}
