@use "@material/card/mdc-card";
@use "@material/typography/mdc-typography";

.dashboard-card .left {
  width: 170px;
  float: left;
}

.dashboard-card .right {
  width: calc(100% - 170px);
  float: right;
}

.dashboard-card__primary-action {
  outline: none;
  .mdc-menu-surface--anchor {
    float: right;
    width: 24px;
    height: 24px;
  }
  i {
    float: right;
  }
  button {
    float: right;
    margin: -12px;
  }
}

.dashboard-card__primary {
  padding: 1rem;
}

.dashboard-card__title {
  margin: 0;
}

.dashboard-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: 0;
}

.dashboard-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  padding: 0 1rem 8px 1rem;
}

.dashboard-card-shaped {
  border-radius: 24px 8px;
}
[dir=rtl] .dashboard-card-shaped, .dashboard-card-shaped[dir=rtl] {
  border-radius: 8px 24px;
}

.location-card__primary {
  padding: 1rem;
}

.location-card__title {
  margin: 0;
}

.location-card__subtitle {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  margin: 0;
}

.location-card__secondary {
  color: rgba(0, 0, 0, 0.54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
  padding: 0 1rem 8px 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.location-card-shaped {
  border-radius: 24px 8px;
}
[dir=rtl] .location-card-shaped, .location-card-shaped[dir=rtl] {
  border-radius: 8px 24px;
}

.location-card__hours {
  margin: 1rem;
}
