.chat *, *:before, *:after {
  box-sizing: border-box;
}

.chat .message:first-child {
  margin-top: 15px !important;
}

.chat .message:last-child {
  margin-bottom: 100px;
}

.chat .message {
  max-width: 60%;
  margin-top: 15px;
  display: block;
  clear: both;
  font-size: 0; // Remove whitespace in btwn inline-block elements
}

.chat .you {
  float: left;
  margin-left: 10px;
}

.chat .me {
  float: right;
  margin-right: 10px;
}

.chat .you .message__bubble {
  background-color: #018782;
  color: #FFF;
  max-width: calc(100% - 42px);
}

.chat .me .message__bubble {
  background-color: #eceff1;
  color: #1a1a1a;
}

.chat .message__img {
  width: 32px;
  display: inline-block;
  border-radius: 100%;
  vertical-align: bottom;
  margin-right: 10px;
  margin-bottom: 6px;
}

.chat .message__bubble {
  font-size: 16px;
  display: inline-block;
  padding: 13px 14px;
  border-radius: 6px;
  vertical-align: top;
}

.chat .conversation-start {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
  text-align: center;
  span {
    font-size: 14px;
    display: inline-block;
    color: #999;
    &:before,&:after {
      position: absolute;
      top: 10px;
      display: inline-block;
      width: 30%;
      height: 1px;
      content: '';
      background-color: #e6e6e6;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}
        
.chat .write {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 48px;
  padding: 0 2px 0 8px;
  background-color: #eceff1;
  width: calc(100% - 40px);
  border-radius: 10px;
  input {
    font-size: 16px;
    float: left;
    width: calc(100% - 85px);
    height: 46px;
    padding: 0 10px;
    border: 0;
    outline: none;
    background-color: #eceff1;
    color: #000;
    font-family: 'roboto', 'helvetica', sans-serif;
  }
  button {
    padding: 0;
    float: right;
    :disabled {
      color: #6E7EA5;
    }
  }
}
