.dashboard .input-list-divider h4,
.config .input-list-divider h4,
.schedule .input-list-divider h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  font-color: #181818;
  letter-spacing: 0;
}

.horz-layout-grid {
  padding: 24px;
  position: relative;
  .mdc-icon-button {
    position: absolute;
    border-radius: 100%;
    bottom: 45%;
    background: #FFF;
    opacity: 1;
    z-index: 2;
  }
  #left {
    left: 12px;
  }
  #right {
    right: 12px;
  }
}

.horz-layout-grid__inner {
  white-space: nowrap;
  overflow-x: scroll;
  display: flex;
}

.horz-layout-grid__inner > .mdc-card {
  display: inline-block;
  margin-right: 24px;
  white-space: normal;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc((100% - 48px) / 3);
}

.horz-layout-grid__inner > .mdc-card:last-child {
  margin-right: 0;
}
