@use "@material/dialog/mdc-dialog";
@use "@material/form-field/mdc-form-field";
@use "@material/checkbox/mdc-checkbox";
@use "@material/list/_index.scss" as list;

.file-carousel {
  height: calc(100% - 40px);
  border: 1px solid #c2c2c2;
  width: 100%;
  border-radius: 4px;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 20px 0;
}

.file-carousel__item:first-child {
  margin-left: 20px;
}

.file-carousel__item:last-child {
  margin-right: 20px;
}

.file-carousel__item {
  width: 25%;
  display: inline-block;
  height: calc(100% - 40px);
  margin: 20px 10px;
  border-radius: 4px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: #000;
  overflow: hidden;
  position: relative;
}

.file-carousel__item embed,video,audio {
  width: 100%;
  height: 100%;
}

.file-carousel__item-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.file-carousel__item-link .material-icons {
  font-size: 48px;
  display: block;
  margin-bottom: 5px;
}

.input-item {
  margin-top: 20px !important;
}

.input-item .mdc-text-field:first-child {
  margin-right: 20px;
}

.input-item .mdc-text-field {
  width: calc(50% - 10px);
}

.upload-input {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  position: relative;
  margin-top: 20px;
}

.upload-input--previews {
  height: 186px;
}

.upload-input__input {
  margin: 0;
  opacity: 0;
  height: 116px;
  width: 100%;
}

.upload-input__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px;
  width: calc(100% - 50px);
}

.upload-input__label-wrapper {
  text-align: center;
}

.upload-input__icon {
  font-size: 48px;
  display: block;
  color: rgba(0, 0, 0, 0.6) !important;
  background: #fff !important;
}

.upload-input__icon-label {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.03125rem;
  color: rgba(0, 0, 0, 0.6);
}

.upload-input__file-previews {
  position: absolute;
  top: 116px;
  width: 100%;
  overflow: hidden; // TODO: Do we want to scroll?
  height: 70px;
}

.upload-input__file-preview {
  border-radius: 4px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin: 10px 0 10px 10px;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.upload-input__file-preview:last-child {
  margin-right: 10px;
}

.dialog-subjects .mdc-dialog__content {
  padding: 0; 
}

.dialog-subjects .mdc-dialog__content .mdc-list-item {
  padding-left: 27px;
}

.err-input-list-item {
  transition: 50ms all;
}

.err-input-list-item--errored {
  padding-top: 8px !important;
}

.err-text-field {
  width: 100%;
}

.err-text-field .mdc-text-field-helper-line {
  display: none;
}

.mdc-select .mdc-select__selected-text {
  overflow: hidden;
  margin-right: 36px;
}

.mdc-menu .mdc-list-item {
  white-space: nowrap;
}

.dialog-appt h4 {
  margin-left: 0;
  margin-bottom: 0;
}

.dialog-input .mdc-list-divider {
  margin-bottom: 20px;
}

.dialog-input .action-list-divider button {
  float: right;
  background-color: #fff;
  color: #018786;
}

.dialog-input .action-list-divider button:disabled {
  color: #9F9F9F;
}

/* Ensures that input-list-items completely wrap around inputs and don't cut
them (or their floating labels) off short. */
.input-list-item {
  height: 80px !important;
  overflow: visible !important;
}

.input-list-item .mdc-select {
  width: 100% !important;
}

.input-list-item .mdc-select .mdc-select__anchor {
  width: 100% !important;
}

.input-list-item .mdc-select .mdc-list-item {
  height: list.$single-line-height;
}

.input-list-item .mdc-text-field {
  width: 100% !important;
}

.mdc-dialog .mdc-select .mdc-list {
  // Reset `.mdc-dialog .mdc-list:first-child:last-child` rule.
  padding: 8px 0 !important; 
}

.mdc-dialog .material-icons {
  background-color: rgba(0, 0, 0, 0.38);
  color: #fff;
}

.dialog-form .mdc-select {
  width: 100% !important;
}

.dialog-form .mdc-text-field {
  width: 100% !important;
}

.dialog-code-signup .mdc-text-field {
  width: 100%;
  margin-top: 20px;
}

.dialog-form__content {
  padding-left: 0px !important;
  padding-right: 0px !important;
  overflow: visible !important;
}

.dialog-form__surface {
  overflow: visible !important; // Don't hide `MDCSelect` menus.
}
