#filters .mdc-layout-grid {
  border-top-color: white;
  padding-top: 0px;
  padding-bottom: 10px;
  margin: 0px auto;
}

#show-filters {
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
  cursor: pointer;
}

#show-filters:hover { box-shadow: rgba(0, 0, 0, 0.4) 3px 3px 2px; }

#active-filters {
  color: #777;
  position: relative;
  top: -3px;
  left: 10px;
}

#active-filters #filter-dialog-button {
  font-size: 24px;
  position: relative;
  top: 5px;
  left: -4px;
}

#active-filters #clear {
  font-size: 24px;
  position: absolute;
  right: 14px;
  top: 5px;
}

#active-filters #filter {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  width: calc(100% - 40px);
}

#active-filters #filter > span {
  font-weight: initial;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #active-filters #clear {
    display: none;
  }
  #active-filters #filter {
    width: calc(100% - 20px);
  }
}
