@use "@material/list/mdc-list";
@use "@material/button/mdc-button";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/select/mdc-select";
@use "@material/textfield/mdc-text-field";
@use "@material/drawer/mdc-drawer";
@use "@material/menu-surface/mdc-menu-surface";
@use "@material/menu/mdc-menu";
@use "@material/layout-grid/mdc-layout-grid";

@use "@material/switch/mdc-switch";
@use "@material/icon-button/mdc-icon-button";

html,
body {
  font-family: 'roboto', 'helvetica', sans-serif;
  margin: 0px;
  padding: 0px;
  background-color: #fff;
}
