.second-fab {
  bottom: calc(2rem + 48px) !important; /* Adjust for existing mdc-fab */
}

.matching #pupil-button {
  bottom: calc(2rem + 48px) !important; /* Adjust for existing mdc-fab */
}

@media (min-width: 1024px) {
  .matching #pupil-button {
    bottom: calc(2.5rem + 48px) !important; /* Adjust for existing mdc-fab */
  }
  .second-fab {
    bottom: calc(2.5rem + 48px) !important; /* Adjust for existing mdc-fab */
  }
}

/*
 *.matching #tutor-button {
 *  bottom: calc(2rem + 48px) !important; [> Adjust for existing mdc-fab <]
 *}
 *
 *@media(min-width: 1024px) {
 *  .matching #tutor-button {
 *    bottom: calc(2.5rem + 48px) !important; [> Adjust for existing mdc-fab <]
 *  }
 *}
 *
 *.matching #pupil-button {
 *  bottom: calc(3rem + 96px) !important; [> Adjust for existing mdc-fab <]
 *}
 *
 *@media(min-width: 1024px) {
 *  .matching #pupil-button {
 *    bottom: calc(3.5rem + 96px) !important; [> Adjust for existing mdc-fab <]
 *  }
 *}
 */

.dialog-input #results .mdc-list-item:first-child {
  margin-top: 0 !important;
}

.dialog-input #results {
  margin-top: -20px !important;
}

.mdc-list-item #checkmark {
  display: none;
  background: #6200ee;
  color: #fff;
  text-align: center;
}

.mdc-list-item #checkmark .material-icons {
  vertical-align: middle;
}
