@import "@material/button/mdc-button";

.delete-user-input {
  padding: 10px;
  text-align: center;
}

.delete-user-input button {
  @include mdc-button-ink-color(#737374);
  @include mdc-button-container-fill-color(#FFF);
}

.input-list-item .mdc-select {
  /* NOTE: This fixes that styling error where the textField would scale
   * correctly but the select would not. */
  min-width: 0px !important;
}

.profile .mdc-menu {
  width: 100% !important;
}

.profile .mdc-menu-surface {
  width: 100% !important;
}

.profile .mdc-menu-surface--anchor {
  width: 100% !important;
}

#media-capture {
  display: none;
}

.search-input-list-item .search-results #results {
  margin-top: 0 !important;
}

.search-input-list-item {
  position: initial;
}

.search-input-list-item .search-results {
  position: absolute;
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #FFF;
  border-radius: 0px 0px 7px 7px;
  width: calc(100% - 32px); /* Size of mdc-list minus list-item padding. */
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  li button {
    color: #5F6368 !important;
  }
}

#name-list-item .search-results {
  top: 225px;
}

#email-list-item .search-results {
  top: 305px;
}

.search-input-list-item .search-box--elevated {
  border-radius: 7px 7px 0px 0px !important;
  background: #FFF !important;
  border-bottom: 1px solid #E0E0E0;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
.search-input-list-item .search-box {
  border-radius: 7px;
  padding: 11px;
  width: 100%;
}
