// For component styling
@use "@material/button/mdc-button";

// For mixins
@use "@material/button";

.delete-user-input {
  padding: 10px;
  text-align: center;
}

.delete-user-input button {
  @include button.ink-color(#737374);
  @include button.container-fill-color(#fff);
}

#media-capture {
  display: none;
}
