@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";

.card-schedule {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

.card-schedule .mdc-layout-grid__inner {
  /* TODO: Add dynamic rendering to schedule. */
  grid-template-columns: repeat(10, minmax(0, 1fr)) !important;
}

.card-schedule .schedule-header-text {
  padding-left: 4px;
  margin-bottom: -20px;
}

.card-event {
  padding: 12px 12px 12px 20px;
  border-radius: 4px;
  margin-bottom: 10px;
  .mdc-menu-surface--anchor {
    float: right;
    width: 24px;
    height: 24px;
  }
  i {
    float: right;
  }
  button {
    float: right;
    margin: -12px;
  }
}

.card-event h2,.card-event h3 {
  color: #FFF !important; 
}

.schedule h1 {
  text-align: center;
}

.schedule ul {
  padding-top: 0 !important;
  margin-left: 100px;
}	

.schedule hr {
  margin-left: -100px;
  margin-top: 10px;
}

.schedule .date-list-divider:first-child hr {
  margin-top: 0 !important;
}

.schedule .date-label {
  margin-left: -90px;
  height: 0px;
  margin-top: 10px;
}

.schedule .mdc-list-item__graphic {
  border-radius: 100%;
}

.schedule .mdc-list-item {
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
};

.mdc-list-item button {
  background-color: #fff !important;
  color: #018786 !important;
}
