.rating__meta i {
  font-size: 18px;

  @media only screen and (max-width: 999px) {
    /* rules that only apply for canvases narrower than 1000px */
    font-size: 14px;
  }

  @media only screen and (device-width: 768px) and (orientation: landscape) {
    /* rules for iPad in landscape orientation */
    font-size: 14px;
  }

  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* iPhone, Android rules here */
    font-size: 14px;
  }
}

.search-result-empty img {
  max-height: 40%;
  max-width: 70%;
  margin-top: 10%;
}

.search-result-empty {
  text-align: center;
  vertical-align: middle;
}

.centered-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.paid-icon {
  font-size: 24px;
  vertical-align: middle;
  color: #018782;
  transform: translateY(-1.5px);
  -ms-transform: translateY(-1.5px);
}

.rate {
  font-size: 0;
}

.rate .hr {
  font-size: 0.75rem;
}

.rate .charge {
  /* From mdc-list-item__text-secondary */
  font-size: 0.875rem;
  line-height: normal;
}

.search #results .mdc-list-item:first-child {
  margin-top: 59px; /* For filters div */
}

.search-input-list-item .search-results #results {
  margin-top: 0 !important;
}

.search-input-list-item {
  position: initial;
}

.search-input-list-item .search-results {
  position: absolute;
  max-height: 30vh;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #fff;
  border-radius: 0px 0px 7px 7px;
  width: calc(100% - 32px); /* Size of mdc-list minus list-item padding. */
  z-index: 1;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  li button {
    color: #5f6368 !important;
  }
}

#name-list-item .search-results {
  top: 225px;
}

#email-list-item .search-results {
  top: 305px;
}

#tutor-list-item .search-results {
  top: 225px;
}

#pupil-list-item .search-results {
  top: 305px;
}

.search-input-list-item .search-box--elevated {
  border-radius: 7px 7px 0px 0px !important;
  background: #fff !important;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.search-input-list-item .search-box {
  border-radius: 7px;
  padding: 11px;
  width: 100%;
}
