// For component styling
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/icon-button/mdc-icon-button";
@use "@material/elevation/mdc-elevation";

// For mixins
@use "@material/top-app-bar/_index.scss" as top-app-bar;
@use "@material/icon-button/_index.scss" as icon-button;

.search-results li button {
  color: #5f6368 !important;
}

#search-app-bar {
  /* Emulate Google Drive's Top App Bar */
  @include top-app-bar.fill-color(#fff);
  @include top-app-bar.ink-color(#5f6368);
  @include top-app-bar.icon-ink-color(#5f6368);
  border-bottom: 1px solid #e0e0e0;
  .search-results {
    position: absolute;
    max-height: 80vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    border-radius: 0px 0px 7px 7px;
    top: calc(64px - 7px + 1px); /* Puts this right below search-box */
    width: calc(50vw + 79px + 4px); /* Size of search-box and then some */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    li button {
      color: #5f6368 !important;
    }
  }
  .search-box--elevated {
    border-radius: 7px 7px 0px 0px !important;
    background: #fff !important;
    border-bottom: 1px solid #e0e0e0;
    input {
      background: #fff !important;
    } /* See https://bit.ly/389xzIj for info about box-shadow */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  .search-box {
    border-radius: 7px;
    padding: 11px;
    background: #f1f3f4;
    color: #5f6368;
    #search-icon {
      vertical-align: middle;
      margin-right: 5px;
    }
    button {
      float: right;
      @include icon-button.icon-size(24px, 24px, 2px);
    }
    input {
      vertical-align: middle;
      outline: none;
      width: 50vw;
      background: #f1f3f4;
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
      border: none;
    }
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .search-results {
      top: calc(56px - 6px + 1px);
      width: calc(50vw + 47px + 4px); /* Size of search-box and then some */
    }
    .mdc-top-app-bar__title {
      display: none !important;
    }
    .search-box {
      padding: 9px;
    }
    button {
      display: none;
    }
  }
}
