// For component styling
@use "@material/snackbar/mdc-snackbar";

// For mixins
@use "@material/snackbar/_index.scss" as snackbar;

@media (min-width: snackbar.$mobile-breakpoint) {
  .mdc-snackbar {
    @include snackbar.position-leading;
  }
}

@media (min-width: snackbar.$mobile-breakpoint) {
  .mdc-snackbar {
    @include snackbar.viewport-margin(snackbar.$viewport-margin-wide);
  }
}

.mdc-snackbar {
  @include snackbar.label-ink-color(rgba(255, 255, 255, 0.87));
}

.mdc-snackbar .mdc-icon-button {
  --mdc-ripple-fg-size: 20px !important;
  --mdc-ripple-left: 8px !important;
  --mdc-ripple-top: 8px !important;
}
