@import "@material/snackbar/mdc-snackbar";

@media (min-width: $mdc-snackbar-mobile-breakpoint) {
  .mdc-snackbar {
    @include mdc-snackbar-position-leading;
  }
}

@media (min-width: $mdc-snackbar-mobile-breakpoint) {
  .mdc-snackbar {
    @include mdc-snackbar-viewport-margin($mdc-snackbar-viewport-margin-wide);
  }
}

.mdc-snackbar {
  @include mdc-snackbar-label-ink-color(rgba(255, 255, 255, 0.87));
}

.mdc-snackbar .mdc-icon-button {
  --mdc-ripple-fg-size: 20px !important;
  --mdc-ripple-left: 8px !important;
  --mdc-ripple-top: 8px !important;
}
