@use "@material/fab/mdc-fab";
@use "@material/button/mdc-button";

.header-welcome {
  text-align: center;
}

.header-welcome h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 4.5rem;
  margin-top: 24px;
  color: #181818;
  span {
    color: #6200EE;
  }
}

.header-welcome h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.85rem;
  letter-spacing: 0;
  color: #181818;
  margin-bottom: 0;
}

.mdc-fab {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

@media(min-width: 1024px) {
  .mdc-fab {
    bottom: 1.5rem;
    right: 1.5rem;
  }
}
