@import '@tutorbook/site-styles/general';

.logo-party__logo {
  margin: 8px 16px;
  text-align: center;
  color: #181818;
}

.logo-party__logo-img {
  max-height: 140px;
  max-width: 200px;
}

.logo-party {
  position: relative;
  display: grid;
  grid-template-columns: [left-gutter] 1fr [content] 12fr [right-gutter] 1fr;
  grid-column-gap: 8px;
  background-color: #f4f0eb;
  text-align: center;
  color: #181818;
  padding: 60px 0;
}

.logo-party__content {
  grid-column: content;
  max-width: 1290px;
  margin: 0 auto;
}

.logo-party__headings {
  max-width: 820px;
  margin: 0 auto 36px;
}

.logo-party__headings span {
  font-size: 24px;
}

.logo-party__logos {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-party__cta {
  margin-top: 36px;
}

@media (min-width: 768px) {
  .logo-party {
    padding: 125px 0 70px;
    grid-column-gap: 24px;
  }
  .logo-party__headings span {
    font-size: 34px;
  }
  .logo-party__logo-img {
    max-height: 180px;
    max-width: 260px;
  }
  .logo-party__logo {
    margin: 12px 24px;
  }
}
