.search__field-input-wrap {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -120%;
  opacity: 0;
  pointer-events: none;
  transition: opacity 300ms; }

.search__field-input-wrap--open {
  opacity: 1;
  pointer-events: all; }

.search__field-input-wrap .search-icon {
  position: absolute;
  pointer-events: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%); }

.search__field-input {
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 6px 10px;
  width: 100%;
  height: 37px; }

.search__opener {
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 6px;
  width: 37px;
  height: 37px;
  cursor: pointer; }
  .search__opener svg {
    position: relative;
    top: 1px;
    left: 1px; }

.search__opener--open {
  background: black; }
  .search__opener--open path,
  .search__opener--open circle {
    stroke: white; }

@media (min-width: 665px) {
  .search__opener {
    display: none; }
  .search__field-input-wrap {
    opacity: 1;
    pointer-events: all;
    bottom: 0;
    left: auto;
    right: auto; } }

@media (min-width: 990px) {
  .search__field-input-wrap {
    width: 100%; } }
