@import "@tutorbook/site-styles/general";

.cta-link {
  display: inline-block;
  border-radius: 6px;
  padding: 12px 21px;
  text-decoration: none;
  text-align: center;
  transition: all 200ms;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
  path {
    transition: all 200ms;
  }
}

.cta-link[data-focus-visible-added] {
  position: relative;
}

.cta-link[data-focus-visible-added]:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  right: -6px;
  bottom: -6px;
  left: -6px;
  border: 3px solid black;
  border-radius: 10px;
}

.cta-link:focus {
  outline: 0;
}

.cta-link--small {
  padding: 6px 24px;
}

.cta-link--wide {
  width: 100%;
}

.cta-link--transparent {
  background-color: transparent;
  border: 0;
  color: #181818;
}

.cta-link--black-fill {
  background-color: #181818;
  border: 2px solid #181818;
  color: #ffffff;
  path {
    color: #ffffff;
  }
}

.cta-link--black-fill:hover {
  background-color: #ffffff;
  border: 2px solid #181818;
  color: #181818;
  path {
    color: #181818;
  }
}

.cta-link--teal-fill {
  background-color: #6afdef;
  border: 2px solid #6afdef;
  color: #181818;
  path {
    color: #181818;
  }
}

.cta-link--teal-fill:hover {
  border: 2px solid #a1fff6;
  background-color: #a1fff6;
}

.cta-link--black-outline {
  background-color: transparent;
  border: 2px solid #181818;
  color: #181818;
  path {
    color: #181818;
  }
}

.cta-link--black-outline:hover {
  background-color: #181818;
  border: 2px solid #181818;
  color: #ffffff;
  path {
    color: #ffffff;
  }
}

.cta-link--white-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  path {
    color: #ffffff;
  }
}

.cta-link--white-outline:hover {
  background-color: transparent;
  border: 2px solid #181818;
  color: #181818;
  path {
    color: #181818;
  }
}

.cta-link--link-only-white {
  color: #ffffff;
  padding: 0;
  path {
    color: #ffffff;
  }
}

.cta-link--link-only-white:hover .cta-link__arrow {
  transform: translateX(4px);
}

.cta-link--link-only-black {
  color: #181818;
  padding: 0;
  path {
    color: #181818;
  }
}

.cta-link--link-only-black:hover .cta-link__arrow {
  transform: translateX(4px);
}

.cta-link--black-fill-transparent-hover {
  background-color: #181818;
  border: 2px solid #181818;
  color: #ffffff;
  path {
    color: #ffffff;
  }
}

.cta-link--black-fill-transparent-hover:hover {
  background-color: transparent;
  border: 2px solid #181818;
  color: #181818;
  path {
    color: #181818;
  }
}

.cta-link--black-fill-transparent-hover:hover .arrow,
.cta-link--black-fill-transparent-hover:focus .arrow {
  fill: #181818;
}

.cta-link__arrow {
  margin-left: 8px;
  transition: transform 200ms;
  height: 10px;
}
