/**************** search part css start ****************/
/* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part {
  height: 700px;
  position: relative;
  overflow: hidden;
  background-image: url(../img/banner_bg.png);
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: top right;
}

.search_bar * {
    outline: none;
    box-sizing: content-box !important;
}

.search_bar .tb
{
    display: table;
    width: 100%;
}

.search_bar .td
{
    display: table-cell;
    vertical-align: middle;
}

.search_bar input, button
{
    color: #fff;
    font-family: Poppins;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.search_bar #cover
{
    position: relative;
    max-width: 1500px;
    padding: 35px;
    margin: 0 auto 0 auto;
    background-color: #5d16ee;
    border-radius: 20px;
    box-shadow: 0 10px 40px #5d16ee, 0 0 0 20px #ffffffeb;
    transform: scale(0.6);
}

.search_bar form
{
    height: 96px;
}

.search_bar input[type="text"]
{
    width: 100%;
    height: 96px;
    font-size: 60px;
    line-height: 1;
}

.search_bar input[type="text"]::placeholder
{
    color: #fff;
}

.search_bar #s-cover
{
    width: 1px;
    padding-left: 35px;
}

.search_bar button
{
    position: relative;
    display: block;
    width: 84px;
    height: 96px;
    cursor: pointer;
}

.search_bar #s-circle
{
    position: relative;
    top: -8px;
    left: 0;
    width: 43px;
    height: 43px;
    margin-top: 0;
    border-width: 15px;
    border: 15px solid #fff;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
}

.search_bar button span
{
    position: absolute;
    top: 68px;
    left: 43px;
    display: block;
    width: 45px;
    height: 15px;
    background-color: transparent;
    border-radius: 10px;
    transform: rotateZ(52deg);
    transition: 0.5s ease all;
}

.search_bar button span:before, button span:after
{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: #fff;
    border-radius: 10px;
    transform: rotateZ(0);
    transition: 0.5s ease all;
}

.search_bar #s-cover:hover #s-circle
{
    top: -1px;
    width: 67px;
    height: 15px;
    border-width: 0;
    background-color: #fff;
    border-radius: 20px;
}

.search_bar #s-cover:hover span
{
    top: 50%;
    left: 56px;
    width: 25px;
    margin-top: -9px;
    transform: rotateZ(0);
}

.search_bar #s-cover:hover button span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

.search_bar #s-cover:hover button span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}
.search_bar #s-cover:hover button span:before, #s-cover:hover button span:after
{
    right: -6px;
    width: 40px;
    background-color: #fff;
}

@media (max-width: 576px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part {
    height: 700px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part {
    height: 750px;
    background-image: none;
    background-color: #f7f7f7;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 2, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part {
    height: 650px;
  }
}

.search_part .container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin-top: -130px;
}

/* line 30, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text {
  width: 100%;
}

/* line 34, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text .search_text_iner {
  text-align: center;
}

/* line 68, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text h5 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  color: #556172;
  margin-bottom: 14px;
}

/* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text h1 {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 27px;
  line-height: 1.18;
}

@media (max-width: 576px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text h1 {
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 75, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text h1 {
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 1.4;
  }
}

/* line 101, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text h1 span {
  color: #ff663b;
}

/* line 106, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text p {
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

/* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text .btn_1 {
  box-shadow: 0px 12px 20px 0px rgba(154, 95, 238, 0.15);
  margin-top: 50px;
  padding: 13.5px 45px;
}

@media (max-width: 576px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 112, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_1 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}

/* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
.search_part .search_text .btn_2 {
  margin-top: 50px;
  padding: 13px 46px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 10px 25px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 138, E:/172 Etrain Education/172_Etrain_Education_html/sass/_banner.scss */
  .search_part .search_text .btn_2 {
    margin-top: 20px;
    margin-bottom: 70px;
    padding: 10px 25px;
  }
}
